.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rcheck
*.tar.gz
*.tgz
*.zip
*.log
__pycache__/
*.py[cod]
*.aux.xml
*.ovr
*.tmp
*_cache/
*_files/
docs/
pkgdown/
revdep/
renv/library/
renv/staging/
inst/doc
outputs/
cache/
tmp/
downloaded_data/
bluetopo/
BlueTopo/
/doc/
/Meta/
